@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

header.header {
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/background.svg")
}

.header-logo {
    width: 97px;
    height: 73px;
}
.header .header-button {
    background-color: #5B98E3;
    border-radius: 9px;
    padding: 20px 64px;
    border: none !important;
}
.header .header-button:hover{
    background-color: #4d82c4 !important;
}
.header .header-button:active{
    background-color: rgb(63, 108, 163) !important;
    
}
.header-titles {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    flex-direction: row;
}

.header-text {
    font-weight: 900;
    color: white;
    font-size: 42px;
}

.header-managers {
    max-width: 90vw;
}

.organizers {
    color: white;
    background: linear-gradient(89.95deg, #211EAA 0.04%, #3648B9 99.96%);
}
.organizers > .container > .container {
    margin: -0.75rem;
    padding: 0 !important;
}
.organizers ul {
    margin: -0.75rem;
    padding-left: 0;
    margin-bottom: 0;
}
.organizers li {
    margin: 0.75rem;
    flex: 1 1 auto !important;
    list-style-type: none;
}
.organizers-segment {
    margin: 0.75rem;
}
.description {
    padding: 70px 0;
    color: #2A30B1;
    font-size: 20px;
    line-height: 150%;
}
.description .description-title {
    font-size: 30px;
}
.description p {
    margin-bottom: 40px;
}